.ablum-list {
  h1 {
    font-size: 36px;
    transition: color 0.3s;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.1;
  }
  p {
    font-size: 13px;
    transition: color 0.3s;
  }

  .simple-desc-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .simple-desc-content {
      min-height: 500px;
      max-width: 25vw;
    }
  }

  .playlist {
    position: absolute;
    left: 50%;
    top: 0;
    padding-right: 10%;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.fadeup {
  opacity: 0;
  transform: translateY(20px);
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  &.slower {
    animation-duration: 1s;
  }
}
.fadedown {
  opacity: 0;
  transform: translateY(-20px);
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  &.slower {
    animation-duration: 1s;
  }
}
.fadeappear  {
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  &.slower {
    animation-duration: 1s;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}