.ablum-list {
  background-color: #121212;
  color: #fff;

  h1 {
    font-size: 36px;
  }
  p {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
  }

  &.darkmode {
    color: #fff;
    p, .subtext {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &.lightmode {
    color: #000;
    p, .subtext {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .playlist {
    position: absolute;
    left: 50%;
    top: 0;
    padding: 20px 0;
    padding-right: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    button {
      padding: 6px 18px;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.fadeup {
  opacity: 0;
  transform: translateY(20px);
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  &.slower {
    animation-duration: 1s;
  }
}
.fadedown {
  opacity: 0;
  transform: translateY(-20px);
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  &.slower {
    animation-duration: 1s;
  }
}
.fadeappear  {
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  &.slower {
    animation-duration: 1s;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}