@import "tailwindcss";

html {
  background: #000;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

button {
  padding: 6px 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.no-scrollbar {
  overflow: scroll; /* 或 overflow: auto; */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.b-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.darkmode {
  color: #fff;
  p, .subtext {
    color: rgba(255, 255, 255, 0.5);
  }
  
  button, .default-bg {
    background-color: rgba(255, 255, 255, 0.1);
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .highlight {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.lightmode {
  color: #000;
  p, .subtext {
    color: rgba(0, 0, 0, 0.5);
  }

  button, .default-bg {
    background-color: rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .highlight {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}