@import "tailwindcss";

html {
  background: #000;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

button {
  min-height: 36px;
  padding: 6px 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.no-scrollbar {
  overflow: scroll; /* 或 overflow: auto; */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.darkmode {
  color: #fff;
  p, .subtext {
    color: rgba(255, 255, 255, 0.5);
  }
  
  button, .default-bg {
    background-color: rgba(255, 255, 255, 0.1);
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .highlight {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  .b-line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .t-line {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }
}

.lightmode {
  color: #000;
  p, .subtext {
    color: rgba(0, 0, 0, 0.5);
  }

  button, .default-bg {
    background-color: rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .highlight {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .b-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .t-line {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.active {
  color: aquamarine
}

.noise {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/noise-light.png'); /* 你生成的噪点贴图 */
    pointer-events: none;
    opacity: 0.3;
  }
}