@import "tailwindcss";

html {
  background: #000;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

button {
  padding: 6px 18px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}